version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: weather_db
    ports:
      - '5432:5432'
    volumes:
      - pg_data:/var/lib/postgresql/data

  weather-service:
    build: ./weather-service
    ports:
      - '3001:3000'
    depends_on:
      - rabbitmq
      - postgres

  subscription-service:
    build: ./subscription-service
    ports:
      - '3002:3000'
    depends_on:
      - rabbitmq
      - postgres

  api-gateway:
    build: ./api-gateway
    ports:
      - '3000:3000'
    depends_on:
      - weather-service
      - subscription-service

volumes:
  pg_data:
